body {
	background-color: #f4f4f4;
	color: blue;
	font-family: Calibri, Arial, Helvetica;
	font-size: 20px;
	font-weight: normal;
	line-height: 1em;
	margin: 2px;
}

a {
	text-decoration: none;
	color: pink;
}

a:hover {
	color: red;
}

a:active {
	color: green;
}

.caja1 {
	background-color: #333333;
	color: white;
	font-family: Arial, Helvetica, Calibri;
	font-size: 14px;
	border-top: red solid 5px;
	border-bottom: yellow solid 5px;
	border-right: blue solid 5px;
	border-left: green solid 5px;
	border-style: dotted;
	padding: 25px;
}

.contenedor {
	width: 75%;
}

.caja1 h1 {
	font-family: Biome, Aharoni, Abadi, Impact;
	color: #78E0FE;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.caja2 {
	border: 3px dotted #F924F9;
	padding: 30px;
	margin: 20px 0;
}

.enlaces {
	border: 1px #CCCCCC solid;
	padding: 10px;
	border-radius: 15px;
}

.enlaces h2 {
	text-align: center;
}

.enlaces ul {
	padding: 0;
	list-style: square;
	list-style: none;
}

.cajas {
	width: 75%;
	float: left;
	padding: 10px;
	background-color: black;
	color: gray;
}

.cajas h3 {
	font-family: Tahoma, Calibri, Arial;
	color: white;
}

.barraFinal img {
	width: 300px;
	height: 100px;
}